.password-change-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
.password-change {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
   
}

.password-change h1 {
    text-align: center;
    margin-bottom: 50px;
}

.password-change form {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
}

.password-change label {
    font-weight: 200px;
}

.password-change input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%; 
    box-sizing: border-box; 
}

.password-change button {
    padding-right: 70px;
    background-color: #8644A2;
    border: 1px solid #fff;
    color: white;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 5px;
}

.password-change button:hover {
    background-color: #D862BC;
    color: white;
}

.password-change p {
    text-align: center;
    color: #dc3545;
    font-weight: bold;
    margin-top: 1rem;
}
